:root{
    --colour1: #14213d;
    --colour2: #fca311;
    --colour3: #e5e5e5;
    --colour4: #ffffff;
    --colour5: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100&display=swap');

body{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    background-color: var(--colour5);
    line-height: 2;
}


.parallax{
    width: 100VW;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax::after{
    content: '';
    width: 100%;
    height: 250px;
    position: absolute;
    bottom:0;
    background: linear-gradient(to top, var(--colour5), transparent);
    z-index: 10000;
}

.parallaximg {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}
#sky {
    z-index: 0;
}
#building{
    z-index: 2;
}
.introh1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    font-size: 10vw;
    color: var(--colour2);
    justify-self: center;
}
.dalle2{
    max-width: 500px;
    align-self: center;
}
.dallecredit{
    font-size: 10px;
    align-self: center;
}
.fixed {
    width: 100vw;
    height: 50vh;
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    margin-top: 10vh;
    margin-bottom: 10vh;
    filter: grayscale(10%);
    -webkit-filter: grayscale(10%);
    transition: 300ms linear;
    -webkit-transition: 300ms linear;
    -moz-transition: 300ms linear;
    -ms-transition: 300ms linear;
    -o-transition: 300ms linear;
}
.fixed h1{
    font-size: 20vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: auto;
    position: absolute;
}
.fixed:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: 300ms linear;
    -webkit-transition: 300ms linear;
    -moz-transition: 300ms linear;
    -ms-transition: 300ms linear;
    -o-transition: 300ms linear;
}
.fixed::before{
    content: "";
    position: absolute;
    left:0;
    top: -16vh;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, var(--colour5), transparent);
}
.fixed::after{
    content: "";
    position: absolute;
    left:0;
    bottom: -6vh;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, var(--colour5), transparent);
}
.musicimage{
    background-image: url('Toenail.png');
    
}
.animationimage{
    background-image: url('PoolParty.png');
    
}
.activismimage{
    background-image: url('brag.png');
}
.martialimage{
    background-image: url('MuayThai.png');
}
.cardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.couplecontain{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    max-width: 650px;
    min-height: fit-content;
    color: var(--colour4);
    padding: 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.fullwidth{
    width: 100%;
}
.card h1 {
    font-size: 45px;
    justify-self: center;
    align-self: center;
}

iframe{
    /* width: 560px; */
    height: 315px;
}
.one{
    background-color: var(--colour2);
}

h1{
    color: var(--colour2);
    font-family: 'Montserrat', sans-serif;
}

#introh1{
    color: var(--colour1);
}

.hidden{
    opacity: 0;
    filter: blur(3px);
    transition: 1000ms;
    -webkit-transition: 1000ms;
    -moz-transition: 1000ms;
    -ms-transition: 1000ms;
    -o-transition: 1000ms;
    -webkit-filter: blur(3px);
    transform: scale(95%);
    -webkit-transform: scale(95%);
    -moz-transform: scale(95%);
    -ms-transform: scale(95%);
    -o-transform: scale(95%);
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: scale(100%);
    transition: 1500ms;
    -webkit-transition: 1500ms;
    -moz-transition: 1500ms;
    -ms-transition: 1500ms;
    -o-transition: 1500ms;
    -webkit-filter:blur(0);
    -webkit-transform: scale(100%);
    -moz-transform: scale(100%);
    -ms-transform: scale(100%);
    -o-transform: scale(100%);
}
.projectcontainer{
    position: relative;
    width: 100%;  
    border: 2px solid var(--colour2); 
}
.projectoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--colour2);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.projectcontainer:hover .projectoverlay{
    width: 100%;
}
.projectimage{
    display: block;
    width: 100%;
    height: auto;
}
.projecth2 {
    font-size: 25px;
    position: absolute;
    color: var(--colour2);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}
@media screen and (max-width: 40em) {
    .couplecontain{
        flex: 0 1 calc(80% - 1em);
    }
    .projectcontainer{
        width: 100%;
    }
    .dalle2{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .fixed h1{
        font-size: 20vw;
    }
    .card p {
        font-size: 14px;
    }
}
 